@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.section {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.box {
    background-color: rgb(5, 155, 255);
    border: none;
    height: 1.5rem;
    width: 4.5rem;
}

.container {
    height: 100%;
    padding: 1rem 0;
}


.bar {
    z-index: 2;
    position: absolute;
    bottom: 4.2rem;
    left: 47%;
    width: 3.4rem;
    height: 0.8rem;
}

.bullets {
    position: absolute;
    z-index: 1;
    bottom: 3.5rem;
    /* left: 41.7rem; */
    height: 1.3rem;
    width: 0.3rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(244, 218, 69);
}

.moving-compos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}