@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.section {
    height: 100vh;
    width: 100%;
}

img{
    position: absolute;
    z-index: -100;
    height: 100vh;
    width: 100%;
}


.container {
    height: 100%;
    padding: 1rem 0;
}


.bar {
    z-index: 2;
    position: absolute;
    bottom: 12%;
    left: 47%;
    width: 3.4rem;
    height: 0.8rem;
}

.bullets {
    position: absolute;
    z-index: 1;
    bottom: 3.5rem;
    /* left: 41.7rem; */
    height: 1.3rem;
    width: 0.3rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgb(244, 218, 69);
}

.moving-compos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goodship{
    position: absolute;
    width: 4.5rem;
    border-radius: 50%;
    padding: 0.7rem;
    /* margin: 1rem; */
    box-shadow: inset 0 0 20px rgb(255, 86, 86);
}

.badship{
    width: 2.5rem;
    /* padding: 1rem 0; */

}

.big-box{
    margin: 1000rem;
}

